main {
  font-family: 'Montserrat';
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px 20px;
  @media screen and (min-width: 768px) {
    padding: 0px 40px;
  }
  @media screen and (min-width: 1140px) {
    padding: 0px 183px;
  }
}
