<section class="registration container">
  <h2 class="registration__title">
    Registration for a <span class="registration__span">free</span> phone
    <span class="registration__span">consultation</span> on the nuances of
    English UPE
  </h2>
  <p class="registration__description">
    Leave a request for participation in a
    <span class="registration__span">free lesson</span>. A consultant will
    contact you and answer your questions
  </p>
  <form class="form-registration">
    <input
      class="form-registration__input"
      type="text"
      name="name"
      placeholder="Name*"
      id="name"
    />
    <input
      class="form-registration__input"
      type="tel"
      name="phone"
      placeholder="Phone*"
      id="phone"
    />
  </form>
  <button class="registration__button" type="submit">
    i want a free lesson
  </button>
</section>
