<div class="header">
  <div class="header__container">
    <a href="./index.html" class="header__logo"
      >Hell
      <svg width="13.93px" height="19.38px">
        <use href="./images/symbol-defs.svg#icon-fire"></use>
      </svg>
      <span class="header__logo--span">en</span></a
    >
    <p class="header__logo-subtitle">
      Hellish<span class="header__logo-subtitle--span">english</span>
    </p>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="./index.html" class="header__nav-link">Studying program</a>
        </li>

        <li class="header__nav-item">
          <a href="" class="header__nav-link-is-active">About</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link">Training options</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link">Contacts</a>
        </li>
      </ul>
      <button class="header__nav-button-lesson">I want a free lesson</button>
    </nav>
    <nav>
      </div>
     <div class="header__mobile container">
          <div class="header-mobile__logo"><a href="./index.html" class="header-mobile__icon"
          ><svg width="34.63px" height="12.62px">
            <use href="./images/symbol-defs.svg#icon-Hell"></use>
          </svg>
          <svg width="13.93px" height="19.38px">
            <use href="./images/symbol-defs.svg#icon-fire"></use>
          </svg>
           <svg width="23.15px" height="11.76px">
            <use href="./images/symbol-defs.svg#icon-EN"></use>
          </svg>
        <p class="header-mobile__logo-subtitle">
          Hellish<span class="header-mobile__logo-subtitle--span">english</span>
        </p></div>
          <button type="button" class="mobile__nav-button" data-menu-button>
            <svg
              class="mobile__nav-icons"
              width="40px"
              height="40px"
              aria-controls="mobile__nav-menu"
              aria-expanded="false"
              aria-label="Переключатель мобильного меню"
            >
              <use class="mobile__nav-icons-menu" href="./images/symbol-defs.svg#icon-menu"></use>
            </svg>
          </button>
          <div class="mobile__nav-menu" data-menu>
            <button class="mobile__nav-menu-button" type="button" data-menu-close>
              <svg
                class="mobile__nav-icon"
                width="40px"
                height="40px"
                aria-controls="mobile__nav-menu"
                aria-expanded="false"
                aria-label="Переключатель мобильного меню"
              >
                <use class="mobile__nav-icons-close" href="./images/symbol-defs.svg#icon-close"></use>
              </svg>
            </button>
            
              <div class="mobile__group-menu"><div class="header-mobile__logo"><a href="./index.html" class="header-mobile__icon"
          ><svg width="34.63px" height="12.62px" class="header-mobile__logo-menu">
            <use href="./images/symbol-defs.svg#icon-Hell"></use>
          </svg>
          <svg width="13.93px" height="19.38px">
            <use href="./images/symbol-defs.svg#icon-fire"></use>
          </svg>
           <svg width="23.15px" height="11.76px" class="header-mobile__logo-menu">
            <use href="./images/symbol-defs.svg#icon-EN"></use>
          </svg>
        <p class="header-mobile__logo-subtitle">
          Hellish<span class="header-mobile__logo-menu--span">english</span>
        </p></div>
            <ul class="mobile__nav-list">
              <li class="mobile__nav-item">
                <a href="" class="mobile__nav-link">Studying program</a>
              </li>

              <li class="mobile__nav-item">
                <a href="./index.html" class="mobile__nav-link-is-active">About</a>
              </li>
              <li class="mobile__nav-item">
                <a href="" class="mobile__nav-link">Training options</a>
              </li>
              <li class="mobile__nav-item">
                <a href="" class="mobile__nav-link">Contacts</a>
              </li>
            </ul>
            <button class="mobile__nav-button-consul">
              Consultation by phone
            </button>
          </div>
        </div>
          </div>
</div> 
      </div>
    </nav>
  
</div>
