<section class="help">
  <div class="container">
    <h2 class="help__title">
      The main problems of students in English UPE, which we
      <span class="help__title--span">help</span> to solve
    </h2>
    <div class="help__scroll container">
      <ul class="help__list">
        <p class="help__subtitle">— 01</p>
        <li class="help__item">Grammar</li>
        <p class="help__subtitle">— 02</p>
        <li class="help__item">Inability to understand spoken English</li>
        <p class="help__subtitle">— 03</p>
        <li class="help__item">Stingy vocabulary for writing an essay</li>
        <p class="help__subtitle">— 04</p>
        <li class="help__item">Preparing alone</li>
        <p class="help__subtitle">— 05</p>
        <li class="help__item">Lack of a single knowledge resource</li>
        <p class="help__subtitle">— 06</p>
        <li class="help__item">Lack of self-organization and laziness</li>
      </ul>
    </div>
 
</section>
