<section class="hero">
  <div class="container">
    <div class="hero__wave">
      <div class="hero__group">
        <h1 class="hero__title">Complex preparation for English UPE</h1>
        <p class="hero__subtitle">It won’t be easy.</p>
        <p class="hero__guarnt">
          But you’re guaranteed to get <br />
          <span class="hero__guarnt--span">+25 points</span>
        </p>
        <button type="button" class="hero__button">I want a free lesson</button>
      </div>
      <img
        src="./images/heroFoto.jpg"
        alt="Фото собрания"
        class="hero__foto"
        width="208px"
        height="177.5px"
      />
      <img
        src="./images/foto-tablet.jpg"
        alt="Фото собрания"
        class="hero__foto-tablet"
        width="375.75px"
        height="320.64px"
      />
    </div>
    <div class="hero__methods">
      <ul class="hero__list">
        <div class="hero__methods-item">
          <li class="hero__item">
            <svg class="hero__icon" width="58.82px" height="60px">
              <use href="./images/symbol-defs.svg#icon-figure"></use>
            </svg>
            <p class="hero__text">Adapted author's UPE program</p>
          </li>
        </div>
        <div class="hero__methods-item">
          <li class="hero__item">
            <svg class="hero__icon" width="58.82px" height="60px">
              <use href="./images/symbol-defs.svg#icon-phone"></use>
            </svg>
            <p class="hero__text">Modern teaching methods</p>
          </li>
        </div>
        <div class="hero__methods-item">
          <li class="hero__item">
            <svg class="hero__icon" width="58.82px" height="60px">
              <use href="./images/symbol-defs.svg#icon-money"></use>
            </svg>
            <p class="hero__text">Financial guarantee the result</p>
          </li>
        </div>
      </ul>
    </div>
  </div>
</section>
