<section class="container cards">
    <h2 class="cards__title">How do we do it</h2>
    <ul class="cards__list">
      <li class="cards__item">
        <div class="cards__cell">
          <svg class="cards__cell-icon">
            <use href="icon/symbol-defs.svg#icon-list"></use>
          </svg>
        </div>
        <div class="cards__cell-list">
          <h3 class="cards__cell-lettering">Adapted program preparation for UPE</h3>
          <h4 class="cards__cell-line">—</h4>
          <p class="cards__cell-info">
            You will learn grammar and vocabulary at the same time. And you will
            learn how to write essays.
          </p>
        </div>
      </li>
      <li class="cards__item">
        <div class="cards__cell">
          <svg class="cards__cell-icon">
            <use href="icon/symbol-defs.svg#icon-phone"></use>
          </svg>
        </div>
        <div class="cards__cell-list">
          <h3 class="cards__cell-lettering">Classroom and online learning</h3>
          <h4 class="cards__cell-line">—</h4>
          <p class="cards__cell-info">
            The teacher will help not only in the classroom, but also during home
            preparation.Parents can chat if they wish.
          </p>
        </div>
      </li>
      <li class="cards__item">
        <div class="cards__cell">
          <svg class="cards__cell-icon">
            <use href="icon/symbol-defs.svg#icon-book"></use>
          </svg>
        </div>
        <div class="cards__cell-list">
          <h3 class="cards__cell-lettering">The habit of reading in English</h3>
          <h4 class="cards__cell-line">—</h4>
          <p class="cards__cell-info">
            Articles from sources that are used in the development of this UPE
            will be received by phone twice a week.
          </p>
        </div>
      </li>
      <li class="cards__item">
        <div class="cards__cell">
          <svg class="cards__cell-icon">
            <use href="icon/symbol-defs.svg#icon-people"></use>
          </svg>
        </div>
        <div class="cards__cell-list">
          <h3 class="cards__cell-lettering">Psychological support</h3>
          <h4 class="cards__cell-line">—</h4>
          <p class="cards__cell-info">
            We will teach you testing techniques, the ability to plan your
            confidence training in itself.
          </p>
        </div>
      </li>
      <li class="cards__item">
        <div class="cards__cell">
          <svg class="cards__cell-icon">
            <use href="icon/symbol-defs.svg#icon-figure"></use>
          </svg>
        </div>
        <div class="cards__cell-list">
          <h3 class="cards__cell-lettering">Training on copyright manuals</h3>
          <h4 class="cards__cell-line">—</h4>
          <p class="cards__cell-info">
            You don't have to waste your time on a search for material and to buy
            anything extra. We have compiled 2 manuals for you.
          </p>
        </div>
      </li>
      <li class="cards__item">
        <div class="cards__cell">
          <svg class="cards__cell-icon">
            <use href="icon/symbol-defs.svg#icon-audio"></use>
          </svg>
        </div>
        <div class="cards__cell-list">
          <h3 class="cards__cell-lettering">Ability to comprehend spoken English</h3>
          <h4 class="cards__cell-line">—</h4>
          <p class="cards__cell-info">
            “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze
            audio recordings in accordance with the studied vocabulary.
          </p>
        </div>
      </li>
    </ul>
  </section>
  <div class="container program">
    <div class="program__point">
      <h2 class="program__title">Our program</h2>
  
      <div class="program__list">
  
        <div class="program__item">
          <svg class="program__circle" height="12" width="12">
            <circle cx="5" cy="5" r="5" fill="#FF6B09" />
          </svg>
          <h3 class="program__term">1 semester</h3>
        </div>
        <div class="program__flexible">
        <div class="program__unit">
          <h4 class="program__unit-title">— Grammar</h4>
          <p class="program__unit-info">Nouns & Articles</p>
          <p class="program__unit-info">Adjectives & Adverb</p>
        </div>
        <div class="program__unit">
          <h4 class="program__unit-title">— Vocabulary</h4>
          <p class="program__unit-info">Family & Relations</p>
          <p class="program__unit-info">People & Society</p>
        </div>
      </div>
    
        <div class="program__item">
          <div class="program__line-top">
            
          </div>
          <svg class="program__circle" height="12" width="12">
            <circle cx="5" cy="5" r="5" fill="#FF6B09" />
          </svg>
          <h3 class="program__term">2 semester</h3>
        </div>
        <div class="program__flexible">
        <div class="program__unit">
          <h4 class="program__unit-title">— Grammar</h4>
          <p class="program__unit-info">Pronouns</p>
          <p class="program__unit-info">Active Voice</p>
          <p class="program__unit-info">Passive Voice</p>
        </div>
        <div class="program__unit">
          <h4 class="program__unit-title">— Vocabulary</h4>
          <p class="program__unit-info">Home</p>
          <p class="program__unit-info">School</p>
          <p class="program__unit-info">Work</p>
        </div>
      </div>
    
        <div class="program__item">
          <div class="program__line-center">
            
          </div>
          <svg class="program__circle" height="12" width="12">
            <circle cx="5" cy="5" r="5" fill="#FF6B09" />
          </svg>
          <h3 class="program__term">3 semester</h3>
        </div>
        <div class="program__flexible">
        <div class="program__unit">
          <h4 class="program__unit-title">— Grammar</h4>
          <p class="program__unit-info">Modal verbs</p>
          <p class="program__unit-info">Infinitive</p>
          <p class="program__unit-info">Gerund</p>
          <p class="program__unit-info">Participle: 1, 2</p>
        </div>
        <div class="program__unit">
          <h4 class="program__unit-title">— Vocabulary</h4>
          <p class="program__unit-info">Travel & Tourism</p>
          <p class="program__unit-info">Culture & Free Time</p>
          <p class="program__unit-info">Sport</p>
        </div>
        <div class="program__unit">
          <h4 class="program__unit-title">— Writing</h4>
          <p class="program__unit-info">Informal Letter</p>
        </div>
      </div>
    
        <div class="program__item">
          <div class="program__line-bottom">
            
          </div>
          <svg class="program__circle" height="12" width="12">
            <circle cx="5" cy="5" r="5" fill="#FF6B09" />
          </svg>
          <h3 class="program__term">4 semester</h3>
        </div>
        <div class="program__flexible">
        <div class="program__unit">
          <h4 class="program__unit-title">— Grammar</h4>
          <p class="program__unit-info">
            Clauses: Conditional and Wishes
          </p>
          <p class="program__unit-info">
            Direct / Reported speech Preposition
          </p>
          <p class="program__unit-info">
            Conjunction
          </p>
          <p class="program__unit-info">
            Numeral
          </p>
        </div>
        <div class="program__unit">
          <h4 class="program__unit-title">— Vocabulary</h4>
          <p class="program__unit-info">Healthy Living</p>
          <p class="program__unit-info">Nature & Environment</p>
          <p class="program__unit-info">Money</p>
        </div>
        <div class="program__unit">
          <h4 class="program__unit-title">— Writing</h4>
          <p class="program__unit-info">Formal Letter</p>
        </div>
      </div>
      
        <div class="program__item">
  
          <svg class="program__circle" height="12" width="12">
            <circle cx="5" cy="5" r="5" fill="#FF6B09" />
          </svg>
          <h3 class="program__term">5 semester</h3>
        </div>
        <div class="program__flexible">
        <div class="program__unit">
          <h4 class="program__unit-title">—</h4>
          <p class="program__unit-info">Revision</p>
          <p class="program__unit-info">Tests</p>
        </div>
      </div>
        <div class="program__bg">
          
        </div>
      </div>
    </div>
  </div>
  
  </section>
  <section class="container important">
    <div class="important__absolute">
      <h2 class="important__title">Why do people choose us</h2>
      <div class="important__bg">
        <ul class="important__list">
          <li class="important__item">
            <h3 class="important__numbering">— 01</h3>
            <p class="important__activity">Training in small groups</p>
          </li>
          <li class="important__item">
            <h3 class="important__numbering">— 02</h3>
            <p class="important__activity">Rendered notes</p>
          </li>
          <li class="important__item">
            <h3 class="important__numbering">— 03</h3>
            <p class="important__activity">Each lesson has a goal and a specific result</p>
          </li>
          <li class="important__item">
            <h3 class="important__numbering">— 04</h3>
            <p class="important__activity">The real results of the teacher</p>
          </li>
          <li class="important__item">
            <h3 class="important__numbering">— 05</h3>
            <p class="important__activity">The course program meets the requirements of the MES of Ukraine</p>
          </li>
          <li class="important__item">
            <h3 class="important__numbering">— 06</h3>
            <p class="important__activity">Set of groups by level of knowledge</p>
          </li>
        </ul>
      </div>
    </div>
  </section>