<section class="teacher container">
  <h2 class="teacher__title title">Teacher</h2>
  <div class="teacher__group">
    <picture>
      <source srcset="../src/images/techerTabl.jpg" media="768px" />
      <source srcset="../src/images/teacherdesc.jpg" media="1140px" />
      <img class="teacher__img" src="../src/images/mobileteacher.jpg" alt="teacher" />
    </picture>
    <div class="teacher__group-left">
      <h3 class="teacher__title title">Elena Moreva</h3>
      <img class="teacher__img-line" src="./images/LineMobile.svg" alt="lineMobile" />
      <ul class="teacher__list">
        <li class="teacher__item">
          <p class="teacher__item-text">6 yeards of experience in preparing students for UPE</p>
        </li>
        <li class="teacher__item">Own result of passing VNO - 197 points 2 years in a row</li>
        <li class="teacher__item">
          Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
          Test)
        </li>
      </ul>
      <img class="teacher__img-line--second" src="../src/images/descr.svg" alt="line description" />
      <p class="teacher__description">
        Graduated from the Institute of International Relations of the NAU with a degree in
        translator-analyst.In spare time takes courses from the best universities in the world on
        effective teaching and essay writing techniques.Completed: English Grammar and Essay Writing
        (Berkeley), English Grammar & Style (The University of Queesland), How to Write an Essay
        (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education),
        Powerful Tools for Teaching and Learning (University of Houston).
      </p>
      <a class="teacher__description-orange" href="#"> Cambrige English Entry Level Certificate</a>
    </div>
  </div>
</section>
